* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f7;
  font-family: "Poppins", sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.your-tasks {
  background-color: #fff;
  width: 25%;
  margin: 70px 10px 10px 20px;
  border-radius: 10px;
  height: 100%;
}

.your-tasks h2 {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 28.5px;
  border-bottom: 1px solid #f4f5f7;
}

.business-context {
  background-color: #fff;
  width: 80%;
  height: 100%;
  margin: 70px 10px 10px 10px;
  border-radius: 10px;
}

.context-header {
  display: flex;
  padding: 20px 20px 0px 50px;
  align-items: center;
  border-bottom: 1px solid #f4f5f7;
}

.title-part {
  border-bottom: 2px solid #0165ff;
  display: flex;
  padding-bottom: 15px;
}

.title-part img {
  width: 23px;
  height: 23px;
  margin: 10px 5px 5px 0px;
}

.business-context h2 {
  color: #0165ff;
  font-size: 14px;
  margin: 10px 5px 10px 5px;
}

.all-tasks {
  padding: 10px 0 0 0;
}

.task-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
}

.task-title img {
  width: 16px;
  margin-left: 25px;
}

.task-title h3 {
  font-size: 13px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-left: 2%;
}

.whole-contents {
  display: flex;
  flex-direction: row;
}

.author-date {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 500;
}

.author,
.created-at,
.dot {
  margin: 15px 10px 10px 0px;
  color: rgb(110, 110, 110);
}

.text-content {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 500;
}

.single-short-content {
  height: 150px;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  width: 400px;
  padding-left: 20px;
}

.short-text {
  display: -webkit-box;
  width: 350px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 13px;
  color: rgb(110, 110, 110);
}

.short-contents {
  background-color: rgb(248, 248, 248);
  margin: 0px 5px 5px 5px;
  border-radius: 0 0 0 10px;
  height: 98%;
  margin-bottom: 5px;
}

.new {
  background-color: #0165ff;
  display: block;
  padding: 4px;
  width: 45px;
  height: 25px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  margin: 11px 15px 0 0px;
}

.full-content-title {
  font-size: 22px;
  font-weight: 600;
  display: block;
  padding: 20px 20px 20px 35px;
}

.full-content-items {
  padding: 0 35px;
}

.full-content-header {
  display: flex;
  align-items: center;
}

.full-content-author {
  font-size: 16px;
  font-weight: 500;
  margin: 0 10px;
}

.full-content-day,
.full-content-month,
.full-content-time {
  font-size: 12px;
  color: rgb(110, 110, 110);
}

.full-content-month {
  margin: 0 10px;
}

.full-content-text {
  font-size: 14px;
  color: rgb(110, 110, 110);
  margin-left: 75px;
}

.blocked-content {
  padding: 50px;
}

.face-picture {
  width: 64px;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid #f4f5f7;
}

.task-title {
  text-transform: capitalize;
}

.title-new {
  color: #0165ff;
  font-weight: bold;
}

.single-short-content-active {
  box-shadow: 2px 2px 9px #c5c5c5;
}

.single-short-content-inactive {
  background-color: transparent;
}
